 .fc-daygrid-day.fc-day-today {
            background-color: transparent !important;
        }
     .fc-col-header-cell.fc-day.fc-day-tue.fc-day-today{
        background-color: #8380FF !important;
        color: white !important;
        border-radius: 10px;
        span {
            color: white !important;

        }
     }
.bookingAppointmentPage {
   

    input:-webkit-autofill {
        transition: all 5000s ease-in-out 0s;
    }

    .ScrollbarsCustom-Wrapper {
        inset: 0px 0px 0px 0px !important;
    }

    .ScrollbarsCustom{
        box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.08);
    }

    .footerMap{
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.10));
    }

    .headerCalendar {

        .fc {
            height: 95px;

            @media(max-width: 1000px) {
                height: 120px;
            }
        }

        .fc-h-event {
            display: flex;
            justify-content: center;
            border: none;
            background-color: rgba($color: #000000, $alpha: 0);
        }

        .fc-theme-standard .fc-scrollgrid,
        .fc-theme-standard td,
        .fc-theme-standard th {
            border: none;
        }

        @media(max-width: 1000px) {
            .fc-h-event{
                background-color: white;
                color:black;
                &:active {
                    background-color: #7D99FB;
                    box-shadow: none;
                    color: white;
                }
            }
        }


       

        .fc-next-button {
            background: none;
        }

        .fc-icon {
            display: none;
        }

        .fc-button {
            position: relative;
            width: 42px;
            height: 42px;
            border-radius: 5px;
            border: 1px solid #DADADA;
            background-color: #fff;
            background-image: url('../../images/self-booking/nextPrevIcon.svg');
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 16px;
            outline: none;

            @media(min-width: 1000px) {
                position: relative;
            width: 42px;
            height: 42px;
            border-radius: 5px;
            border: 1px solid #DADADA;
            background-color: #fff;
            background-image: url('../../images/self-booking/nextPrevIcon.svg');
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 16px;
            outline: none;
                &:hover {
                    background-image: url('../../images/self-booking/nextPrevIconHover.svg');
                    border-color: #CACACA;
                }
    
                &:active {
                    background-color: transparent;
                    box-shadow: none;
    
                }
    
                &:focus {
                    // border: transparent;
                    background-color: white;
                }
            }

            
            @media(max-width: 1000px) {
                border: 1px solid #7D99FB;
                border-radius: 12px;
                background-image: url('../../images/self-booking/leftArrowPurple.png');
                background-position: center;
                transform: rotate(180deg);
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-image: url('../../images/self-booking/leftArrowPurple.png');
                    border-color: #7D99FB;
                }
    
                &:active {
                    background-color: #7D99FB;
                    box-shadow: none;
    
                }
    
                &:focus {
                    // border: transparent;
                    background-color: white;
                }
            }
        }

        .fc-prev-button {
            transform: rotate(180deg);
        }

        .fc-button-primary,
        .fc-button {
            &:focus {
                box-shadow: none;
            }
        }

        .fc-button-primary:not(:disabled):active:focus {
            box-shadow: none;
        }

        @media(min-width: 1000px) {

        .fc-button-primary:not(:disabled):active {
            background-color: white;
            border: 1px solid #DADADA;

        }

        .fc-button:not(:disabled):focus {
            border: 1px solid #DADADA;
        }
        .fc-button-primary:hover {
            background-color: white;
            border: 1px solid #DADADA;
        }

        }

        
        .fc-event:focus::after {
            background: none;
        }

        .fc-event:focus {
            box-shadow: none;
        }

        
        .fc-toolbar-title {
            font-size: 18px;
            line-height: 25px;
            font-family: 'Open Sans';
            color: #8380FF;
            font-weight: 600;
            letter-spacing: 0.81px;
        }

       

        .fc-button-primary {
            position: relative;
            top: 43px;
            z-index: 1;

            @media(max-width: 1000px) {
                top: 70px;
                left:10px;
            }
            
        }

        .fc-scrollgrid-section-body {
            display: none;
        }

        .fc .fc-toolbar.fc-header-toolbar {
            margin-bottom: 0;

            @media(max-width: 1000px) {
                margin-bottom: 15px;
            }
        }

        .fc-scroller {
            display: flex;
            justify-content: center;
        }

        .fc-col-header {
            // width: 850px !important;
            width: 90% !important;
        }

        .fc-myCustomButtonPrev-button {
            transform: rotate(180deg);
            @media(max-width: 1000px) {
                top: 70px;
                left: -10px;
                transform: rotate(360deg);
            }
        }
    }


    



    .trackY {
        right: -33px !important;
        width: 4px !important;
        background: rgba(217, 216, 255, 0.49) !important;
        overflow: visible !important;
    }

    .thumbY {
        position: absolute !important;
        width: 10px !important;
        left: -4px !important;
        background: #9694F2 !important;
        box-shadow: 0px 1px 4px 0px rgba(54, 52, 104, 0.26) !important;
    }

    .trackYVisible {
        box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.08) !important;
    }

    .eachDoctorCalendar {

        .fc-theme-standard {

            td,
            .fc-scrollgrid {
                border: none;
            }
        }

        .fc-daygrid-day {
            background-color: transparent;

        }

        .fc-event:focus {
            box-shadow: none;
        }

        .fc-event:focus::after {
            background: none;
        }

        .fc-event-main {
            display: flex;
            justify-content: center;
        }

        .fc-h-event {
            background-color: transparent;
            border: none;
        }

        .fc-daygrid-body {
            padding-top: 15px;
            @media (max-width: 1000px) {
                z-index: 0;
            }
        }

        .fc-scrollgrid-sync-table {
            width: 90% !important;
            margin: 0 auto;
        }


    }

    .css-b62m3t-container {
        width: 265px;
        position: relative;
    }

    .css-1u9des2-indicatorSeparator {
        display: none;
    }

    .css-13cymwt-control,
    .css-t3ipsp-control {
        height: 49px;
        border-radius: 10px;
        border: 1px solid #E8E8E9;
        background: #FEFEFE;
        color: #64697E;
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.72px;
    }

    .css-t3ipsp-control {
        outline: none;

        &:active {
            border: 1px solid #E8E8E9;
        }

        &:focus {
            border: 1px solid #E8E8E9;
        }

        &:hover {
            border: 1px solid #E8E8E9;
        }
    }

    .appointmentsList {
        position: absolute;
        width: 265px;
        height: 100px;
        top: 49px;
        left: 0;
        background-color: blue;
        z-index: 1;
        border-radius: 10px;
    }

    .continueAsWrapper {
        .mainBlock {
            background-image: url('../../images/self-booking/continueAsBG.png');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .selectGuest,
        .selectUser {
            background-color: rgba(53, 34, 140, 0.37);
            box-shadow: 0px 4px 15px 0px rgba(74, 73, 92, 0.10), 0px 4px 29px 0px rgba(63, 52, 131, 0.21) inset;
        }

        .selectGuestM,
        .selectUserM {
            background-color: rgba(53, 34, 140, 0.37);
            box-shadow: 0px 4px 15px 0px rgba(74, 73, 92, 0.10), 0px 4px 29px 0px rgba(63, 52, 131, 0.21) inset;
            padding-bottom: 11px;
        }

        .selectGuest {
            background-image: url('../../images/self-booking/guest.png');
            background-repeat: no-repeat;
            background-position-x: center;

            @media(max-width: 1279px), (max-height: 863px) {
                background-position-y: 0;
                background-size: 130px;
            }

            @media(max-height: 959px) {
                background-size: 150px;
            }

            @media(max-height: 899px) {
                background-size: 110px;
                background-position-y: 0;
            }

            @media(min-height: 960px){
                background-size: 200px;
            }
        }

        .selectUser {
            background-image: url('../../images/self-booking/user.png');
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: 30px;

            @media(max-width: 1279px), (max-height: 863px) {
                background-position-y: 20px;
                background-size: 110px;
            }

            @media(max-height: 959px) {
                background-size: 150px;
            }

            @media(max-height: 899px) {
                background-size: 110px;
                background-position-y: 15px;
            }

            @media(min-height: 960px){
                background-size: 200px;
            }
        }

        .signInBlock {
            background: rgba(53, 34, 140, 0.37);
            box-shadow: 0px 4px 15px 0px rgba(74, 73, 92, 0.10), 0px 4px 29px 0px rgba(63, 52, 131, 0.21) inset;

            input {

                &::placeholder {
                    color: #6858CC;
                    font-family: 'Open Sans';
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 400;
                    letter-spacing: 0.72px;
                }
            }
        }

        .googleLogin,
        .appleLogin {
            box-shadow: 0px 4px 15px 0px rgba(74, 73, 92, 0.10), 0px 4px 29px 0px rgba(63, 52, 131, 0.21) inset;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .googleLogin {
            background-image: url('../../images/self-booking/google.png');
        }

        .appleLogin {
            background-image: url('../../images/self-booking/apple.png');
        }

        .choseStatusPage {
            @media(max-width: 1200px) {
                justify-content: center;
            }

            // @media(max-height: 1000px) {
            //     padding-top: 20px;
            // }


            @media(max-height: 839px) {
                padding-top: 0;
            }
        }
    }

    .headerWrapper {
        @media(max-height: 1000px) and (min-width: 1279px) {
            height: 70px;
        }
    }

    .forWhoPage {
        .mainBlock {
            background-image: url('../../images/self-booking/continueAsBG.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }

    .forUserPageWrapper {
        .inputBlock {
            &::placeholder {
                color: #C5C5C5;
                font-family: 'Open Sans';
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0.675px;
            }
        }
    }


    .visitTypePage {
        background-image: url('../../images/self-booking/continueAsBG.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        .appointment {
            .activeAnimation {
                background-image: linear-gradient(89deg, #8380FF 0%, #5C59D9 100%);
            }
        }
    }

    .visitTypePageMobile {
        background-image: url('../../images/self-booking/continueAsBGMobile.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        .appointment {
            .activeAnimation {
                background-image: linear-gradient(89deg, #8380FF 0%, #5C59D9 100%);
            }
        }
    }

    .mobileBG{
        background-image: url('../../images/self-booking/continueAsBGMobile.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .visitTypePageMobile {
        background-image: url('../../images/self-booking/continueAsBGMobile.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        .appointment {
            .activeAnimation {
                background-image: linear-gradient(89deg, #8380FF 0%, #5C59D9 100%);
            }
        }

        .clinicContainer{
            background: rgba(53, 34, 140, 0.37);
            padding: 20px 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 340px;
            border-radius: 8px;
        }
    }

    .forWhoPage {
        .activeAnimation {
            background-image: linear-gradient(89deg, #8380FF 0%, #5C59D9 100%);
        }
    }

    .react-datepicker {
        width: 325px;
        height: 100%;
       
        left: 10px;
        
.react-datepicker__month-container {
            float: none;
        }
        .react-datepicker__header {
            // width: 325px;
            background-color: #5C59D9;
        }

        .react-datepicker__current-month {
            color: white;
            font-family: 'Open Sans';
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
            border: none;
        }

        .react-datepicker__navigation {
            top: 4px;
        }

        .react-datepicker__week {
            display: flex;
            justify-content: space-between;
            height: 42px;
        }

        .react-datepicker__month {
            padding: 0 22px;
        }

        .react-datepicker__current-month {
            margin-bottom: 15px;
        }

        .react-datepicker__navigation--previous {
            left: 25px;
            top: 3px;
        }

        .react-datepicker__navigation--next {
            right: 25px;
            top: 3px;
        }

        .react-datepicker__day-name {
            opacity: 0;
            visibility: hidden;
        }

        .react-datepicker__day-names {
            height: 28px;
        }

        .react-datepicker__day {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            margin: 5px 0;
            border-radius: 20px;
            color: #322A52;
            font-family: 'Open Sans';
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
        }

        .react-datepicker__day--outside-month {
            opacity: 0;
            visibility: hidden;
        }

        .react-datepicker__day--today,
        .react-datepicker__day--selected {
            background-color: #676DFF;
            color: white;
            outline: none;
        }

        .react-datepicker__triangle {
            visibility: hidden;
        }
    }

.radio-input {
	.label {
		input {
			display: none;
			&:checked {
				+ {
					.check {
						background: #7C67FF;
					}
				}
			}
		}
		display: flex;
		.check {
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			cursor: pointer;
			transition: 0.3s;
			border: 4px solid #C7C7C7;
		}
	}
	display: flex;
	gap: 40px;
}

.doctorBlock{
    box-shadow: 2px 4px 8px 0px rgba(90, 117, 167, 0.12);
}
.calendarSlotM{
    box-shadow: 0px 5px 30px 0px rgba(178, 178, 178, 0.20);
}
.activeCalendarText{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.65) 6.25%, rgba(255, 255, 255, 0.58) 127.68%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

.appointEvent{
    box-shadow: 0px 5px 30px 0px rgba(178, 178, 178, 0.20);
}
}

.lds-spinner {
  color: #845cd0;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #845cd0;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}