@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter&family=Roboto:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F4F7FF;
  overflow-x: hidden;
}

html {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}



.scrollmainContent {
  overflow-y: auto;
  scroll-padding-bottom: 20px;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    box-shadow: 0px 1px 4px 0px #36346842;
  }
  &::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: 6px;
    background: #8380FF;
    box-shadow: 0px 1px 4px 0px #36346842;
  }
  &::-webkit-scrollbar-track {
    background: linear-gradient(
                    transparent 4px,
                    rgba(217, 216, 255, 0.49) 4px 6px,
                    transparent 6px
    );
    border-radius: 6px;
    box-shadow: 0px 1px 4px 0px #36346842;
  }

  &::-webkit-scrollbar-track:vertical {
    background: linear-gradient(
                    to right,
                    transparent 4px,
                    rgba(217, 216, 255, 0.49) 4px 6px,
                    transparent 6px
    );
    box-shadow: 0px 1px 4px 0px #36346842;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:vertical {
    height: 4px;
    box-shadow: 0px 1px 4px 0px #36346842;
  }
}


.cancelScroll {
  overflow-y: hidden !important;
}
